:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #ede8e1;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  font: Raleway;
  /* width: 100%; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  @apply hover:bg-brown hover:text-ivory transition-colors duration-200;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header {
  /* width: 100%; */
  font-family: Courier Prime, Courier, monospace;
  padding-left: 25px;
  padding-right:25px;
  margin: auto;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in-out, background-color 0.3s;
}

.hiddenTrans {
  animation: hideHeader 0.4s forwards;
}

.visibleTrans {
  animation: showHeader 0.4s forwards;
}

.clearBG {
  background-color: transparent;
  color: white;
}

.coloredBG {
  background-color: #ede8e1;
  color: black;
}

@keyframes hideHeader {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes showHeader {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.navList {
  @apply transition-all duration-300 ease-in-out cursor-pointer;
}

/* .navAnchor {
  @apply bg-left-bottom bg-gradient-to-r from-brown to-brown bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:50%_2px] transition-all duration-500 ease-out font-bold hover:text-brown ;
} */

.navAnchor {
  @apply transition-all duration-500 ease-out font-bold ;
}

.navAnchor:hover{
  @apply p-3 bg-white rounded-full text-brown ;
}

#imageBG {
  /* background-image: url(images/coffee.jpg); */
  background-image: linear-gradient(rgb(0,0,0, .5), rgb(0,0,0, .5) ), url(images/coffee.jpg);
  background-size: cover;
  height: 100vh;
  position: absolute;
  opacity: 1;
  transform: none;
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0;
}

#loginBG {
  /* background-image: url(images/coffee.jpg); */
  background-image: linear-gradient(rgb(0,0,0, .5), rgb(0,0,0, .5) ), url(images/loginBG.jpeg);
  background-size: cover;
  height: 100vh;
  /* position: absolute; */
  opacity: 1;
  transform: none;
  /* width:100%; */
  /* height: 100%; */
  /* object-fit: cover; */
  /* object-position: center; */
  margin: 0;
  padding: 0;
}

.font-courier {
  font-family: Courier Prime, Courier, monospace;
}

.font-serifs {
  font-family: Self Modern, serif;
}

input[type='email'], input[type='password'], .input-primary {
  background: none;
  border: 1px solid #ede8e1;
  border-radius: 8px;
  color: #ede8e1;
  font-family: Courier Prime, Courier, monospace;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  @apply placeholder-ivory focus:outline-none focus:ring-ivory focus:border-ivory
}

.button {
  background: #ede8e1;
  border: 1px solid #ede8e1;
  border-radius: 8px;
  font-family: Courier Prime, Courier, monospace;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  @apply focus:outline-none focus:ring-ivory focus:border-ivory hover:bg-darkOlive
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-brownSugar;
}

::-webkit-scrollbar-thumb {
  @apply bg-tealBlue;
  border-radius: 100vw;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "flowbite"; */